body{
  background-color: lightgrey;
}

h1{
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: steelblue;
  color: white;
}

table{
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid black;
}
th {
  background-color: steelblue;
  color: white;
  font-size: 18px;
}
